* {
  box-sizing: border-box;
  position: relative;
}
body {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #101113,#222931);
}

button {
  min-height: 2rem;
  margin: 0.3rem;
  font-family: 'Raleway', sans-serif;
  border: none;
  background: none;
  color: white;
  background: #00467f;
  background: linear-gradient(to bottom right, #00467f, #71885e);
  padding: 0.6rem;
  border-radius: 8px;
  opacity: 0.8;
  transition: 0.2s opacity;
  outline: none;
  &:hover {
    cursor: pointer;
    opacity: 1;
    transition: 0.2s opacity;
  }
}

table {
  perspective: 16000px;
  transform-style: preserve-3d;
  transform: rotate3d(0);
  tr {
    transform-style: preserve-3d;
  }
  td {
    width: 17px;
    height: 17px;
    min-width: 17px;
    min-height: 17px;
    transform-style: preserve-3d;
  }
}